body{
    text-align: center;
    background-image: url("images/background_doubt.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    font-size: larger;
}
.doubts-container{
    margin: 100px 0;
}
.inp{
    color:red;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    border: 4px black solid;
    text-align: start;
    opacity: 85%;
    font-size: 24px;
    font-weight: 900;
    background-image: url("images/bg.jpg");
    background-size: cover;
    
}
.addn{
    background-color: rgb(69, 83, 231);
    font-size: larger;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
}
.doubt-display{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;   
}
.doubt-display h2{
    width: 200px;
    padding: 5px 0;
    margin: auto 300px;
    text-decoration: underline solid black;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(rgb(245, 165, 165),rgb(252, 20, 20));
}
@media(max-width:600px){
    .doubt-display h2{
        margin : auto;
    }
}
@media(max-width:810px) and (min-width:600px){
    .doubt-display h2{
        margin : auto 100px;
    }
}
.doubt-display h3{
    translate: -100px;
    margin: 0;
    padding: 0;
}
#doubts-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.doubt{
    min-height: 250px;
    min-width: 350px;
    max-width: 400px;
    text-align: center;
    border: 4px solid black;
    background: linear-gradient(#f0fff9,#69a3c4) ;
    border-radius: 30px;
    margin: 10px 25px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
textarea{
    border-radius: 10px;
}
.response-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post_but{
    height: 25px;
    border-radius: 10px;
    margin: 10px 0;
    font-weight: bolder;
    background:linear-gradient( rgb(192, 222, 243),rgb(39, 68, 230));  
}
